.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.2em;
}

button,
input {
    width: 50%;
    margin-bottom: 10px;
}

input {
    height: 30px;
}

input[type=text]:focus {
    border: 3px solid #9FF9D0;
}

button {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 3px;
}