@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');


body {
    font-family: 'Gamja Flower', cursive;
}

.Title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
}

h1 {
    font-size: 4em;
}