
.form-group {
    display:flex;
    justify-content: center;/* align-items: center; */
    
    padding-top: 25vh;
    background-color: #FFD7A38C;
    
}

input {
    width: 500px; 
    height: 20px;
    margin-bottom: 10px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
}
input[type=text]:focus {
    border: 3px solid #9FF9D0;
}
