@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');

body {
  font-family: 'Gamja Flower', cursive;
  background: url("./components/mountains.jpg");
  /* background-size: cover; */
  height: 100vh;

}